* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 
 body {
    padding-left: 5%;
    padding-right: 5%;
    background-color: gray;
 }
 
 header {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url("/img/bg-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 
 nav {
    background-image: linear-gradient(#f00 50%,firebrick 50%);
    border: 0.5px solid whitesmoke;
 }
 
 nav > ul {
    display: flex;
 }
 
 nav li {
    height: 5vh;
    display: flex;
    min-width: fit-content;
    align-items: center;
    border-right: 0.5px solid whitesmoke;
    padding-left: 1%;
    padding-right: 1%;
 }
 
 nav a {
    height: 100%;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
 }
 
 nav a:hover,
 nav li:hover {
    background-image: linear-gradient(forestgreen 50%,darkgreen 50%);
 }
 
 main {
    display: flex;
    background-color: whitesmoke;
 }
 
 p {
    text-align: justify;
 }
 
 .left {
    background-color: gainsboro;
    width: 20%;
    padding: 2%;
 
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
 }
 
 aside h3 {
    color: white;
 }
 
 h3 {
    text-transform: capitalize;
 }
 
 footer {
    background-color: black;
    text-align: center;
    padding: 1%;
    color: white;
 }
 
 .left > aside {
    background-color: olive;
    color: white;
    padding: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
 }
 
 .left ul {
    list-style-type: none;
 }
 
 .left a {
    text-decoration: none;
    text-transform: capitalize;
    line-height: 1.5;
 }
 
 .left > article:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    line-height: 1.5;
 }
 
 .right {
    width: 70%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
 }
 
 .right > article:first-child {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    line-height: 1.5;
    font-size: 16px;
 }
 
 .right > article:nth-child(2) {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
 }
 
 .right ul {
    padding-left: 10%;
    line-height: 1.5;
    font-size: 14px;
 }
 
 
 .right > article:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    background-color: lightpink;
    color: darkred;
    padding: 2%;
    line-height: 1.5;
 }
 
 